.main{
    border: 2px solid blue;
    padding: 50px;
    margin: 7%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    background-color: black;
    position: relative;
    bottom: 100px;
    color: blue;
}
a{
    text-decoration: none;
    color: white;
}
h2{
    color: white;
    position: relative;
    right: 22px;
}
.cfm{
    position: relative;
    right: 30px;
}
button{
    margin: 2%;
    padding: 8px;
    width: 100px;
    position: relative;
    right: 30px;
}
#cfmpasswordinp{
    position: relative;
    right: 30px;
}
.pswd{
    position: relative;
    right: 16px;
}
#passwordinp{
    position: relative;
    right: 16px;
}